
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_LayoutLeftMenu.cshtml";
    
}

<div class="row">
    <div class="col-12 text-center mt-3">
        <h3 >Sales Activity Dashboard</h3>
    </div>
</div>

@section scripts {
    <script type="text/javascript">

       
    </script>
}